body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    width: 400px;
    margin: 5px auto;
    text-align: center;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    
}

img {
    width: 620px;
    height: 340px;
    
}

